
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <title>Blog</title>
  </head>


  <body>

    <header class="header">
      <h1 class="heading-primary">
        <span class="heading-primary--main">blog</span>
        <span class="heading-primary--sub">something</span>
      </h1>

      <div class="header__nav-box">
          <a class="nav-link" href="/">Home</a>

        @if(!auth)
          <a class="nav-link" href="/auth/login">Login</a>
          <a class="nav-link" href="/auth/register">Register</a>
        @endif
      </div> 
    </header>



    @!section('content')
  </body>
</html>